section.section.sec-banner 
	.container 
		.row 
			-for(i=1;i<4;i++)
				.col-lg-4.col-md-4.col-sm-6
					.banner-item 
						.img 
							a(href="") 
								img.lazyload(data-src="./img/banner/banner-"+i+".png", alt="") 
							