section.section.product-list.flooring
	.container 
		.row 
			.col-12.col-lg-3
				.side-navigation-wrapper
					.title 
						h1 Dụng cụ hàn
						.icon
							span
							span
					ul.side-navigation
						li.navigation-item
							.accordion-title
								a(href='') Crown
								.icon
									span
									span
							ul.nav-sub
								li
									a(href='') Máy hàn Crown
						li.navigation-item
							.accordion-title
								a(href='') Hugong
								.icon 
									span
									span
				-for(i = 1; i < 6; i++)
					.filter-wrapper
						.title Nhãn hàng
							.icon
								span
								span
						.filter-option
							ul 
								li.active
									a(href="") CROWN    
								li
									a(href="") DWT 
			.col-lg-9 
				.hero-product.ajaxresponse 
					.block_name_category.d-flex
						.name_category
							h2 Máy hàn Crown
						.wrap-left.d-flex
							.sort-wrap.d-flex 
								p Sắp xếp: 
								select.ajaxsort
									option(value="" selected) Mới nhất
									option(value="") Giá: Thấp - Cao
									option(value="") Giá: Cao - Thấp
							.option-wrap.d-flex  
								p Hiển thị:
								select.ajaxsort
									option(value="" selected) 12
									option(value="") 24
									option(value="") 48
									option(value="") 64
									option(value="") 100
					.block-product.ajaxresponsewrap
						-for(i=1; i<13; i++)
							.product-item 
								a.pro-img(href="san-pham-chi-tiet.html")
									img.lazyload(data-src="./img/product/pro-4.png", alt="")
								.option.yellow 
									.desc Mới
								.pro-infor
									.pro-title 
										a(href="vat-lieu-chi-tiet.html") Máy Hàn Điện Tử CT33102 CROWN
									.pro-price.d-flex
										span.price 550.000 đ
										span.price-old 650.000 đ
					.pages
						.modulepager
							ul.pagination
								li.active
									span 1
								li 
									a(href="") 2
								li 
									a(href="") 3
