.san-pham-ct
	.wrap-button-buy
		.btn
			min-width: 190px
			height: 40px
			color: $brow-f20
			font-size: r(14px)
			font-weight: 700
			background-color: #f5f5f5
			text-transform: uppercase
			display: inline-flex
			align-items: center
			justify-content: center
			transition: .3s all ease-in-out
			&.add-to-cart
				border: 1px solid $brow-f20
				background-color: $main
				position: relative
				z-index: 2
				&::before
					content: ''
					background-color: $black
					position: absolute
					left: 50%
					transform: translateX(-50%)
					width: 0%
					opacity: 0
					height: 100%
					top: 0
					z-index: -1
					transition: .3s all ease-in-out
				&:hover
					border: 1px solid $main
					color: $main
					&::before
						opacity: 1
						width: 100%
			&.buy-now
				border: 1px solid $black
				position: relative
				z-index: 2
				&::before
					content: ''
					background-color: $main
					position: absolute
					left: 50%
					transform: translateX(-50%)
					width: 0%
					opacity: 0
					height: 100%
					top: 0
					z-index: -1
					transition: .3s all ease-in-out
				&:hover
					border: 1px solid $black
					&::before
						width: 100%
						opacity: 1
			&+.btn
				margin-left: 20px
	.wrap-price
		.main-price
			color: #e30016
			font-size: r(24px)
			font-weight: 700
			text-decoration: none
			margin-right: 16px
		.sale-price
			color: $gray-9
			font-size: r(12px)
			font-weight: 400
	.wrap-number-order
		display: flex
		align-items: center
		.input-amount
			display: flex
			align-items: center
			[class*='btn-']
				width: 40px
				height: 40px
				background-color: #dfdfdf
				display: flex
				align-items: center
				justify-content: center
			.btn-dec
				display: flex
				align-items: center
				justify-content: center
				&::before
					content: ''
					background-image: url(../img/icons/subtract-icon.png)
					width: 21px
					height: 1px
			.btn-inc
				display: flex
				align-items: center
				justify-content: center
				&::before
					content: ''
					background-image: url(../img/icons/plus-icon.png)
					width: 21px
					height: 21px
			.amount
				height: 40px
				width: 70px
				text-align: center
				border: 0px
				background-color: #f5f5f5
