section.san-pham-ct.van-san
	.container
		.wrap-button-buy
			a(href="").btn.add-to-cart Thêm vào giỏ hàng
			a(href="").btn.buy-now Mua ngay
		.wrap-share
			a(href="").add-favorites
			a(href="").like-facebook
		.wrap-price
			ins.main-price 550.000 đ
			del.sale-price 650.000 đ
		.wrap-number-order
			span Số lượng
			.input-amount
				a.btn-dec(href='#')
				input.amount(type='text' value='1' name='')
				a.btn-inc(href='#')
