section.section.home-methor 
	.container 
		.row 
			.col-sm-6.col-md-6.col-lg-4.col-xl-3
				.item.gradient-red
					.caption 
						.title 
							a(href="") Hướng dẫn đặt hàng
						.sub-title 
							p Đặt hàng đơn giản với 3 bước
					.img 
						img.lazyload(data-src="./img/home/methor-1.png", alt="") 
			.col-sm-6.col-md-6.col-lg-4.col-xl-3
				.item.gradient-yellow
					.caption 
						.title 
							a(href="") Phương thức vận chuyển 
						.sub-title 
							p Giao hàng nhanh chóng
					.img 
						img.lazyload(data-src="./img/home/methor-3.png", alt="")
			.col-sm-6.col-md-6.col-lg-4.col-xl-3
				.item.gradient-white
					.caption 
						.title 
							a(href="") Chính sách đổi trả 
						.sub-title 
							p Trong vòng 30 ngày
					.img 
						img.lazyload(data-src="./img/home/methor-2.png", alt="")
			.col-sm-6.col-md-6.col-lg-4.col-xl-3
				.item.gradient-black
					.caption 
						.title 
							a(href="") Chính sách bảo mật 
						.sub-title 
							p Kim Tín Group cam kết bảo mật thông tin khách hàng
					.img 
						img.lazyload(data-src="./img/home/methor-4.png", alt="")