extends _layout.pug

block var
	- var title = 'Vật liệu hàn chi tiết'
	- var bodyClass = 'materialdateilpage'

block main
	include ../components/banner/pageBanner.pug
	include ../components/vat-lieu/vat-lieu-list.pug
	