section.section.home-catelog 
	.container
		.section-title Danh mục sản phẩm
		.hero-catelog.d-flex.align-center 
			.item-catelog 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/cate-1.png", alt="")
				.img-hover
					a(href="") 
						img.lazyload(data-src="./img/home/catelog-1.png", alt="") 
				.caption 
					a(href="") Vật liệu hàn
			.item-catelog 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/cate-1.png", alt="") 
				.img-hover
					a(href="") 
						img.lazyload(data-src="./img/home/catelog-1.png", alt="") 
				.caption 
					a(href="") Dụng cụ hàn
			.item-catelog 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/cate-2.png", alt="") 
				.img-hover
					a(href="") 
						img.lazyload(data-src="./img/home/catelog-1.png", alt="") 
				.caption 
					a(href="") Dụng cụ cầm tay
			.item-catelog 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/cate-3.png", alt="") 
				.img-hover
					a(href="") 
						img.lazyload(data-src="./img/home/catelog-1.png", alt="") 
				.caption 
					a(href="") Ván sàn
			.item-catelog 
				.img 
					a(href="") 
						img.lazyload(data-src="./img/home/cate-4.png", alt="") 
				.img-hover
					a(href="") 
						img.lazyload(data-src="./img/home/catelog-1.png", alt="") 
				.caption 
					a(href="") Sản phẩm khác
