footer 
	.container 
		.footer-top.d-flex.align-center 
			.subscribefrm.d-flex.align-center 
				.caption Đăng ký nhận tin kuyến mãi
				.form-group
					input.subscribeemail(type="text" placeholder="Địa chỉ email...")
					button.subscribebutton Gửi
			.wrap-right 
				a(href="") 
					em.fas.fa-map-marker-alt
					|Tìm kiếm cửa hàng
		.footer-center 
			.row 
				.col-lg-3.col-md-6.col-sm-6.col-6
					.footer-card 
						.title giới thiệu
						.footer-body 
							ul 
								li 
									a(href="") Lịch sử hình thành 
								li
									a(href="")  Triết lý kinh doanh
								li
									a(href="")  Tầm nhìn sư mệnh
								li
									a(href="")  Chiến lược phát triển
								li
									a(href="")  Danh hiệu giải thưởng
				.col-lg-3.col-md-6.col-sm-6.col-6
					.footer-card 
						.title sản phẩm
						.footer-body 
							ul 
								li 
									a(href="") Vật liệu hàn
								li
									a(href="")  Dụng cụ hàn
								li
									a(href="")  Dụng cụ cầm tay
								li
									a(href="")  Ván sàn
								li
									a(href="")  Sản phẩm khác
				.col-lg-3.col-md-6.col-sm-6.col-6
					.footer-card 
						.title Hỗ trợ khách hàng
						.footer-body 
							ul 
								li 
									a(href="") Download profile
								li
									a(href="")  Hướng dẫn đặt hàng
								li
									a(href="")  Phương thức vận chuyển
								li
									a(href="")  Chính sách đổi trả
								li
									a(href="")  Chính sách bảo mật
				.col-lg-3.col-md-6.col-sm-6.col-6
					.footer-card 
						.title Kết nối với Kim Tín
						.footer-body 
							ul.socail.d-flex.align-center 
								li 
									a(href="") 
										em.fab.fa-facebook-square 
								li 
									a(href="") 
										em.fab.fa-instagram
								li 
									a(href="") 
										em.fab.fa-youtube 
								li 
									a(href="") 
										em.fab.fa-pinterest-p
							.logo-ct 
								img(src="./img/icons/ct.png", alt="")
		.footer-bottom 
			.row 
				.col-lg-3.col-md-6
					.footer-card 
						.title CÔNG TY CỔ PHẦN KIM TÍN
						.footer-body 
							ul 
								li 
									p Địa chỉ: số 40 Ngô Gia Tự,Phường Đức Giang, Quận Long Biên, Hà Nội
								li
									p Điện thoại:(024) 3971 5156
								li
									p Fax:(024) 3972 4818
				.col-lg-3.col-md-6
					.footer-card 
						.title CÔNG TY CỔ PHẦN KIM TÍN ĐÀ NẴNG
						.footer-body 
							ul 
								li 
									p Địa chỉ: Đường số 6 - KCN Hòa Khánh, Quận Liên Chiểu, TP. Đà Nẵng
								li
									p Điện thoại: (0236) 3725 583
								li
									p Fax: (0236) 3730 147
				.col-lg-3.col-md-6
					.footer-card 
						.title CÔNG TY CỔ PHẦN TẬP ĐOÀN KIM TÍN (KIM TIN GROUP)
						.footer-body 
							ul 
								li 
									p Địa chỉ : 69 Nguyễn Thi, Phường 13, Quận 5, TP.HCM
								li
									p Điện thoại: (028) 3950 6618
								li
									p Fax: (028) 3950 6617
				.col-lg-3.col-md-6
					.footer-card 
						.title nhãn hàng
						.footer-body 
							.img 
								-for(i=1; i<7; i++)
									a(href="") 
										img(src="./img/footer/f-"+i+".png", alt="")
		.coppy-right.d-flex.align-center 
			p.design-by-canhcam
				|© 2021 Bản quyền thuộc về Công ty Cổ phần Tập đoàn Kim Tín.
			ul.list.d-flex.align-center
				li 
					a(href="") Điều Khoản & Điều Kiện
				li 
					a(href="") Bảo Mật
				li 
					a(href="") Sitemap
