section.page-khuyen-mai.section
	.container
		h1.title-page.center Tin Khuyến mãi
		.wrap-km-1
			.box-img.zoom-img
				.img
					img(src="./img/Khuyen-mai/left-img.png" alt="")
			.box-content
				.content
					h2.title.f-24.fw-700.hover-title
						a(href="") Ưu đãi tháng 2 cho tất cả sản phẩm của Kim Tín
					.desc.f-16 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
				.wrap-date-link
					.date-post 15/01/2021
					a(href="").link
						em.lnr.lnr-arrow-right
section.wrap-post-list-km
	.container
		.row
			-for(i=0;i<6;i++)
				.col-lg-4.col-sm-6
					.box-post-item.zoom-img
						.img
							a(href="")
								img(src="./img/Khuyen-mai/km-1.png" alt="")
						.wrap-content
							.content
								h3.title-post
									a(href="") Khuyến Mãi Sàn Gỗ Cực Lớn Mừng Giáng Sinh An Lành - Năm Mới Hạnh Phúc
								p.desc-post Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
							.wrap-date-link
								.date-post 15/01/2021
								a(href="").link
									em.lnr.lnr-arrow-right
		ul.pagination
			li
				a(href="") 1
			li
				a(href="") 2
			li
				a(href="") 3