section.section.home-choose(setBackground="./img/home/bg.png")
	.container 
		.section-title Tại sao chọn 
			span Kim Tín
		.wrap-desc 
			p Kim Tín thành lập ngày 29/01/2000, đến nay đã phát triển thành tập đoàn sản xuất và kinh doanh đa ngành nghề: vật liệu hàn, kim loại màu, ván MDF, sản phẩm sau MDF, khai thác khoáng sản và dịch vụ logistics, bất động sản, khách sạn.
		.wrap-list 
			ul 
				li 
					.title 24
					.desc Quốc gia Kim Tín 
						br
						|xuất khẩu
				li 
					.title 6.700
					.desc Tỷ đồng doanh thu 2020 
						br
						|của Tập đoàn
				li 
					.title VNR500
					.desc Xếp hạng 152
				li 
					.title 740.000m2
					.desc tổng diện tích 8 nhà máy
				li 
					.title 1.500.000m2
					.desc tổng diện tích kho bãi đứa 
						br
						|vào sử dụng 
			.button
				a.btn.btn-yellow(href="") 
					span Kim Tín Group