section.section.home-product 
	.container 
		.section-title Vật liệu hàn
		.wrapper-slide 
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<6; i++)
						.swiper-slide
							.swiper-inner
								.img
									a(href="")
										img.lazyload(data-src="./img/home/product/pro-"+i+".png" alt="")
								.caption 
									.title 
										a(href="") Que hàn thép carbon thấp KT-6013
									.wraper-price.d-flex.aligin-center
										span.price 550.000 đ
										span.oldprice 650.000 đ
								.option.yellow 
									.desc Mới
								.option.red 
									.desc -15%
			.swiper-button-next
			.swiper-button-prev