section.khuyen-mai-detail
	.container
		.row
			.col-lg-9
				.wrap-content-main
					.wrap-head-title
						h1.title-post Khuyến Mãi Sàn Gỗ Mừng Giáng Sinh An Lành - Năm Mới Hạnh Phúc
						.wrap-date-social
							.date-post 15/01/2021
							.social
					.content-main
						p
							strong Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
						img(src="./img/post/post-2.png" alt="")
						p
							strong Nội dung sự kiện khuyến mãi sàn gỗ:
						p Công Ty Cổ phần Kim Tín kính gửi đến Quý khách hàng sự kiện khuyến mãi sàn gỗ cực lớn chào mừng Giáng Sinh và Tết Dương Lịch năm 2021 với nội dung như sau:
			.col-lg-3
				.wrap-other-post
					.title-other-post.f-24.fw-400.color-text Khuyến mãi khác
					.wrap-list-post
						-for(i=0;i<4;i++)
							.item-post.zoom-img
								.img
									a(href="")
										img(src="./img/post/post-3.png" alt="")
								a(href="").title-post.hover-title Khuyến Mãi Sàn Gỗ Cực Lớn Mừng Giáng Sinh An..
								.date-post 15/01/2021
