header
	nav
		.container
			.nav-wrapper.d-flex
				.navbrand
					a(href="") Hoang.Buzz
				ul.navbar.d-flex.ml-auto
					li.nav-item.active
						a.nav-link.f-14.fw-500.color-white(href='#home') Trang chủ
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='#about') Giới thiệu
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='#about') Dịch vụ
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='#project') Dự án
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='#project') Blog
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='#contact') Liên hệ
				form.search-box(action="") 
					.button-search
						em.ri-search-line
					.form-group 
						input(type="text" placeholder="Tìm kiếm")
						button 
							em.ri-search-line
				.btn.btn-toggle
					span 
					span 
					span
					span
