section.slider-area
	.single-slider.d-flex.align-center(setBackground="./img/banner/b-1.png")
		.container
			.row
				.col-lg-5.col-md-5.col-sm-4
					.employee
						img(src='./img/banner/avata.jpg' alt='')
				.col-lg-7.col-md-7.col-sm-8
					.hero__caption
						h1
							| My name is Hoang.
							br
							|  Website Developer
						p Head of design at Hoang.Buzz
		.about-info
			.row
				.col-lg-5.col-md-3.col-sm-3
					.about-info-single
						p Design For
						span Web & Mobile
				.col-lg-7.col-md-9.col-sm-9
					.about-info-wrapper
						.about-info-single
							p Phone
							span +84 93 177-1893
						.about-info-single
							.about-info-single
								p Drop your Message
								span
									a.cf-email(href='') hoangdev1808@gmail.com
							.icon
								img(src='./img/icons/email-icon.png' alt='')
