section#page-banner
	.banner__pages
		img(src="./img/PageBanner.jpg" alt="")
	//- .box-text-banner.container
	//- 	.wrap-text
	//- 		.title-banner.f-40.fw-700 Ưu đãi
	//- 		.giam-gia.fw-700 50%
	//- 		.desc-banner.fw-700 Tất cả sản phẩm
	//- 			span ván sàn
